@media screen and (max-width: 1220px) {
    .main-helper-card {
        .container {
            .main-helper-card__grid {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    .helper-card {
        .container {
            .helper-card__item {
                height: 500px;

                a {
                    .helper-card__button {
                        bottom: -20px;
                    }
                }

            }
        }
    }
    .slider {
        .slider__item {
            .main-screen__foto {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 0px;
                padding-left: 0px;
            }
        }
    }

}

@media screen and (max-width: 992px) {
    .slider {
        .slick-arrow {
            display: none;
        }
        .slider__item {
            .main-screen__foto {
                .main-screen__content {
                    width: 700px;
                }
            }
        }
    }
    
    
    .main-helper-card {
        .container {
            .main-helper-card__grid {
                grid-template-columns: repeat(2, 1fr);
                .main-helper-card__item {
                    width: auto;
                }
            }
        }
    }
    .helper-card {
        .container {
            flex-direction: column;
            align-items: center;
            .helper-card__item {
                margin-bottom: 60px;
                a {
                    .helper-card__button {
                        bottom: 0px;
                    }
                }
            }
        }
    }
    .footer {
        .container {
            .footer-info {
                flex-direction: column;
                align-items: center;
                padding-bottom: 84px;
                height: 1164px;
                .footer-info__item {
                    min-height: auto;
                }
            }
            .about-company {
                margin-top: 0px;
                .about-company__nav {
                    flex-direction: column;
                    align-items: center;
                    .about-company__item {
                        height: 225px;
                        &:nth-child(3) {
                            height: 623px;
                        }
                        &:nth-child(4) {
                            padding-left: 0px;
                            height: 0px;
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 768px) {
    @mixin p {
        font-size: 15px;
    }
    .slider {
        .slider__item {
            .main-screen__foto {
                .main-screen__content {
                    width: 470px;
                    .main-screen__h1 {
                        font-size: 23px;
                    }
                }
            }
        }
    }
    .main-helper-card {
        .container {
            .main-helper-card__grid {
                .main-helper-card__item {
                    height: 430px;
                    .main-helper-card__text {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .characteristics {
        .container {
            .characteristics__slider {
                .characteristics__slider__item {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .about-company__min-item {
        flex-direction: column;
        line-height: 29px;
    }
}

@media screen and (max-width: 560px) {
    .header__advertising {
        display: none;
    }
    .main-helper-card {
        .container {
            .main-helper-card__grid {
                grid-template-columns: repeat(1, 1fr);
                .main-helper-card__item {
                    height: 378px;;
                }
            }
        }
    }

    .slider {
        .slider__item {
            .main-screen__foto {
                .main-screen__content {
                    width: 370px;
                    height: 370px;
                    .main-screen__h1 {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .slider {
        .slider__item {
            .main-screen__foto {
                .main-screen__content {
                    width: 100%;
                    height: 100%;
                    .main-screen__h1 {
                        font-size: 23px;
                    }
                }
            }
        }
    }
    .header  {
        .container {
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            .header__header {
                align-self: flex-start;
            }
            .header__footer {
                align-self: flex-start;
                align-items: flex-end
            }
        }
    }
    body {
        main {
            .main-helper-card {
                .container {
                    .main-helper-card__grid {
                        .main-helper-card__item {
                            height: 400px;;
                        }
                    }
                }
            }
            .helper-card {
                .container {
                    .helper-card__item {
                        width: auto;
                        .helper-card__foto__first{
                            width: 100%;
                        }
                        .helper-card__foto__second{
                            width: 100%;
                        }
                        .helper-card__foto__third{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .about-company {
        &__networks {
            width: 30%;
        }
    }
    
}

